.title-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 575px;
  display: block;
  background: url('./media/landscape_banner.png') fixed no-repeat center top;

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 61, 80, 0.6);
  }
}

@media (min-width: 1400px) {
  .title-background {
    background-size: 100% auto;
  }
}

.about-blurb {
  & > *:first-child {
    -webkit-margin-before: 0;
  }

  & > *:last-child {
    -webkit-margin-after: 0;
  }
}

.content {
  max-width: 100%;
  width: 980px;
  margin: 4rem 0;
}

.about-content {
  composes: content;
  margin-top: 125px;
  max-width: 100%;
}

.content-wrapper {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
  padding: 0 1.5rem;

  &.alternate {
    background-color: #EDEFF5;
  }

  > * {
    max-width: 100%;
  }
}

.title-content-wrapper {
  composes: content-wrapper;
  height: 575px;
}

.fixed-height-content-wrapper {
  composes: content-wrapper;
  height: 600px;
}

.title-wrapper {
  align-self: center;
}

.about-education {
  margin: 0 -1.75em;

  .item {
    margin: 0 1.75em;
  }

  .name,
  .years {
    font-size: 1.25em;
    line-height: 1.25;
    margin: 0.25em 0;
  }

  .years {
    color: #94A3BA;
  }
}

.about-hobbies {
  margin: 0 -1.2em;

  .item {
    margin: 0 1.2em;
    text-align: center;

    &:hover .icon-wrapper {
      opacity: 1;
    }

    .icon-wrapper {
      background: #94A3BA;
      border-radius: 50%;
      opacity: 0.7;
      padding: 2em;

      .icon {
        max-width: 100%;
      }
    }

    .name {
      font-family: LatoLight, sans-serif;
      font-size: 1.15em;
    }
  }
}

.fit-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

.title {
  color: #ffffff;
  font-size: 88px;
  letter-spacing: 1px;
  margin: 0;
  text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.3);
}

.subtitle {
  color: rgba(250, 250, 250, 0.6);
  font-family: 'LatoLight', Helvetivca, sans-serif;
  font-size: 25px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  word-spacing: 4px;
  text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.3);
}

.head-shot-wrapper {
  left: 0;
  position: absolute;
  top: -125px;
  width: 100%;
}

.head-shot {
  border: 8px solid white;
  border-radius: 100%;
  width: 250px;
  z-index: 2;
}
