.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 575px;
  display: block;
  background: url('./media/landscape_banner.png') fixed no-repeat center top;

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 61, 80, 0.6);
  }
}

@media (min-width: 1400px) {
  .background {
    background-size: 100% auto;
  }
}

.about-blurb {
  & > *:first-child {
    -webkit-margin-before: 0;
  }

  & > *:last-child {
    -webkit-margin-after: 0;
  }
}

.about-content {
  margin-top: 125px;
}

.about-wrapper {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  height: 600px;
  flex-grow: 1;
}

.about-title-wrapper {
  align-self: center;
}

.title {
  color: #ffffff;
  font-size: 88px;
  letter-spacing: 1px;
  margin: 0;
  text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.3);
}

.subtitle {
  color: rgba(250, 250, 250, 0.6);
  font-family: 'LatoLight', Helvetivca, sans-serif;
  font-size: 25px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  word-spacing: 4px;
  text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.3);
}

.head-shot-wrapper {
  left: 0;
  position: absolute;
  top: -125px;
  width: 100%;
}

.head-shot {
  border: 8px solid white;
  border-radius: 100%;
  width: 250px;
  z-index: 2;
}
