
.lato-light {
  font-family: "LatoLight", Helvetica, sans-serif;
}

.lato-light-italic {
  font-family: "LatoLightItalic", Helvetica, sans-serif;
}

.lato-regular {
  font-family: "LatoRegular", Helvetica, sans-serif;
}

.lato-italic {
  font-family: "LatoItalic", Helvetica, sans-serif;
}

.lato-bold {
  font-family: "LatoBold", Helvetica, sans-serif;
}

.lato-bold-italic {
  font-family: "LatoBoldItalic", Helvetica, sans-serif;
}

.lato-black {
  font-family: "LatoBlack", Helvetica, sans-serif;
}

.lato-black-italic {
  font-family: "LatoBlackItalic", Helvetica, sans-serif;
}
